a {
    list-style: none;
    text-decoration: none;
}

.pokemon-btn:hover{
    cursor:pointer;
}

.popup { display: none; }

.popup.open { display: block; }

.blocker {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
content: ' ';
background: rgba(0,0,0,.5);
}
.popup .pokemon-contents {
border-radius: 1rem;
width: 300px;
height: max-content;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 15px;

position: fixed;
top: 50vh;
left: 50vw;
transform: translate(-50%, -50%);
}

.pokemon-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    padding: 5px;
}

.pokemon-stats ol{
    list-style: none;
    border: solid #FFF 1px;
    border-radius: 1rem;
    padding: 0;
    margin: 5px;
    color: #FFF;
    
}

.pokemon-stats ol li:not(:last-child){
    border-bottom: solid #FFF 1px;
}
.pokemon-stats ol li{
    padding: 4px 8px;

}

#pokemon-imgs{
    height: 250px;
    width: 270px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor:pointer;
    background-color: #FFF;
    border-radius: 1rem;
}

#pokemon-imgs img {
    height: 200px;
    width: 220px;
    position: absolute;
    top: 10%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#pokemon-imgs:hover .pokemon-tooltip{
    visibility: visible;
}

img.transparent {
    opacity:0;
}

.pokemon-tooltip{ 
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
}