a {
    list-style: none;
    text-decoration: none;
}

#pokemon-popup {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    display: none;
}

.visivel{
    display: block;
}

#pokemon-btn:hover{
    cursor:pointer;
}