* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
p{
    color: aqua;
}

.content {
    padding: 1rem;
}

.content h1 {
    margin: 0;
}

ol.pokemon-list{ 
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0;
    list-style: none;
    margin: 0;
    
}

ol.pokemon-list li{
    margin: .5rem;
    padding: 1rem;
    background-color: #14a06f;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

ol.pokemon-list li img{
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
}